{% extends "base.html" %}

{% block content %}

<div class="card p-4 shadow-sm">

<h2 class="mb-3">Личный кабинет</h2>

<hr>

<p><b>ФИО:</b> {{ user.full_name }}</p>
<p><b>Логин:</b> {{ user.username }}</p>
<p><b>Email:</b> {{ user.email }}</p>
<p><b>Телефон:</b> {{ user.phone|default:"Не указан" }}</p>
<p><b>Роль:</b> {{ user.role }}</p>
<p><b>Дата регистрации:</b> {{ user.date_reg|date:"d.m.Y H:i" }}</p>

<hr>

<h4>📚 Мои книги</h4>

{% if loans %}
<table class="table table-striped mt-3">

    <thead>
        <tr>
            <th>Книга</th>
            <th>Срок возврата</th>
        </tr>
    </thead>

    <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.book.title }}</td>
            <td>{{ loan.due_date|date:"d.m.Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% else %}
    <p class="text-muted mt-3">У вас пока нет взятых книг</p>
{% endif %}

</div>

{% endblock %}